name: "Build and Push Docker on Github"

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - 'LICENSE'

permissions:
  packages: write
  contents: read
  id-token: write
  checks: write
  pull-requests: write

jobs:
  build-push-gh:
    uses: gouv-nc-data/github-workflows/.github/workflows/build-push-on-github.yml@main

